
.feed{
  position:relative;
  height:auto; width:calc(50% - 20px);
  min-height:400px;
  background-color:$box;
  color:$bright;
  overflow: visible;
  z-index:1;
  @include breakpoint(1000px){
    width:100%;
    margin:10px 0px 0px 0px;
  }

  .error{
    position:absolute;
    top:60px; left:0; right:0; bottom:0;
    margin:auto;
    height:20px;
    text-align:center;
    font: 900 20px/20px $red_hat;
    color:$highlight;
  }
}