
.moonIcon{
  display:block;
  overflow:visible;
  filter: drop-shadow(0 0 12px rgba($highlight, 0.5));

  .shadowDisc{
    fill:$main;
  }
  .litDisc{
    fill:$bright;
    @include trans(0.5s);
  }
  .craters circle{
    fill:$highlight;
    opacity:0.18;
  }
}
